*,
::after,
::before {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	margin: 0;
	display: grid;
	place-items: center;
}

.container {
	grid-area: 1 / 1;
	aspect-ratio: 1/1;
	width: 400px;
	outline: 1px solid black;
}

.circle {
	aspect-ratio: 1/1;
	width: 60px;
	background-color: rgb(131, 56, 206);
	border-radius: 50%;
	color: white;
	display: grid;
	place-items: center;
}

@for $i from 1 through 16 {
	.container:nth-of-type(#{$i}) {
		--R: #{22.5 * $i}deg;
		animation: rotation
			#{120 *
			$i}ms
			cubic-bezier(0.36, -0.37, 0.79, 1.13)
			forwards;
		animation-delay: 2s;
		.circle {
			transform: rotate(#{-22.5 * $i}deg);
		}
	}
}

@keyframes rotation {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(var(--R));
	}
}
